.listingHero {
  padding-block: 8rem 3rem;
  padding-inline-start: 2rem;
  background-image: radial-gradient(
    at top right,
    var(--secondary-color),
    var(--primary-color)
  );
  color: white;

  > * {
    max-width: 1300px;
    margin-inline: auto;
  }

  a {
    color: var(--primary-color);
  }
}
