.navigationWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100dvw;
  padding-block: 1rem;
  z-index: 999;
}

.logo {
  max-width: 150px;
}

.navLinks {
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
  /* the ::after visually makes it look not centered because its out of the flow */
  /* slight adj to eyeball it to center */
  transform: translateX(-1.25rem);
  color: #fff;

  li {
    cursor: pointer;
  }

  .btnNavPop {
    border: none;
    font: inherit;
    background-color: transparent;
    color: currentColor;
    cursor: pointer;
    anchor-name: --nav-pop;
  }

  .navPop {
    --arrow-size: 15px;
    border: none;
    margin-block-start: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    position-anchor: --nav-pop;
    left: calc(anchor(left) - 1rem);
    box-shadow: 0 0 20px rgba(0 0 0 / 0.25);
    position: absolute;
    background-color: white;

    p {
      color: var(--primary-color);
      white-space: nowrap;
    }

    p:hover {
      color: var(--p-color);
    }

    .firstLink {
      margin-block-end: 0.75rem;
    }

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: 1rem;
      top: calc((var(--arrow-size) - 2px) * -1);
      border-left: var(--arrow-size) solid transparent;
      border-right: var(--arrow-size) solid transparent;
      border-bottom: var(--arrow-size) solid white;
    }
  }
}
.activeNavLink {
  color: hsl(from currentColor h s calc(l - 75));
}

.profileIcon {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-content: center;
  background-color: #fff;
  border-radius: 50%;

  img {
    max-width: 1.125rem;
  }
}

.fixedNav {
  background-color: var(--secondary-color);
}
