.cardInfo {
  background: white;
  color: var(--primary-color);
  max-width: var(--max-width);
  position: relative;
  padding: 1.5rem;
  border-radius: var(--card-b-rad);
  box-shadow: -3px -3px 15px rgb(0 0 0 / 0.25);
  transition: transform 0.25s ease;

  h2 {
    font-weight: 600;
    width: fit-content;
    color: black;
    margin-block-end: 0.5rem;
  }

  .icon {
    background-color: var(--clr-icon);
    color: white;
    width: fit-content;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    padding: 0.35rem;
    padding-block-start: 0.25rem;
    border-radius: 5px;
    line-height: 1;
  }

  p {
    max-width: 80%;
    line-height: 1.4;
  }

  img {
    width: 300px;
    margin-inline: auto;
    max-height: 200px;
    object-fit: contain;
  }

  &:hover {
    transform: translateY(-5px);
  }
}
