.trendingTopics {
  background-color: var(--section-bg-color);

  h2 {
    margin-block: 5rem 1rem;
    grid-column: 1 / 3;
  }

  .cardWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-inline: auto;
    width: fit-content;
  }
}
