.sectionBrowse {
  color: black;
  text-align: center;
  padding-block-start: 5rem;

  h2 {
    font-size: 3rem;
    margin-block-end: 2rem;
  }

  .browseTabList {
    display: flex;
    list-style-type: none;
    gap: 3rem;
    color: var(--p-color);
    margin-inline: auto;
    margin-block-end: 3rem;
    width: fit-content;
    font-size: 1.125rem;

    li {
      cursor: pointer;
    }
  }

  .activeTab {
    color: black;
    border-bottom: 2px solid currentColor;
  }
}
