:root {
  --body-font-family:
    "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  --title-font-family: "Noto Sans Georgian", sans-serif;
  --body-inline-padding: 4rem;
  --white-color: #ffffff;
  --primary-color: #13547a;
  --secondary-color: #80d0c7;
  --section-bg-color: #f0f8ff;
  --custom-btn-bg-color: #80d0c7;
  --custom-btn-bg-hover-color: #13547a;
  --dark-color: #000000;
  --p-color: #717275;
  --border-color: #7fffd4;
  --link-hover-color: #13547a;
  --card-b-rad: 25px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  font-family: var(--body-font-family);
  /* padding-block: 1rem; */
  color: #fff;

  /* for now */
  /* background-color: #aaa; */
  min-height: 2000px;
}

a {
  text-decoration: none;

  &:visited {
    color: currentColor;
  }
}

h1 {
  font-family: var(--title-font-family);
}
